# Environment файлы
.env

# Database данные
db_data/

# Логи
*.log

# OS файлы
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo


!.gitignore
!readme.md
# 3. Разрешаем папку wp-content (но пока не её содержимое)
!/wp-content/

# 4. Игнорируем всё внутри wp-content
/wp-content/*


# 5. Твоя тема, как её обозвала
!/wp-content/themes/
/wp-content/themes/*
!/wp-content/themes/aura-theme/

# 6. Твой плагин, как её обозвала
!/wp-content/plugins/
/wp-content/plugins/*
!/wp-content/plugins/apartments-plugin/

# 7. (Опционально) Разрешаем стандартный файл настроек как шаблон
!/wp-config-sample.php